*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgba(254, 223, 216, 0.88); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(254, 223, 216, 0.88);; 
  }

.parallax {
    /* The image used */
    /* background-image: url('images/img5.jpg'); */

    background-image: linear-gradient(black , white);

  
    /* Full height */
    height: 500px;
    width :100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

header{
    position: absolute;
    width: 100%;
    height: 5em;
    left: 0px;
    top: 0px;
    background: rgba(254, 223, 216, 0.88);
}

.navbar{
    position: absolute;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.5em;
    width: 95%;
    height: 63px;
    left: 2em;
    top: 1em;
    background: #F9CBCB;
    display: grid;
    grid-template-columns: 1fr auto minmax(600px , 3fr) 1fr;
    padding-top: .5em;
}

.logo{
    grid-column : 2 / 3 ;
    align-self: center;
}

nav{
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul{
    display :flex ;
    list-style: none;
}

nav li{
    margin-left: 3em;
    margin-bottom: 0;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 500;
    font-size: medium;
}

nav a {
    opacity: 1 ;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: medium;
    z-index: 1;
}

/* nav a::before{ */
nav a::after{
    content: '';
    display: block ;
    height: 5px;
    background:rgba(233, 33, 33, 0.4);
    position: absolute ;
    text-decoration: none;
    top :-5px ;
    left: -10px;
    border-radius: 50px;
   /*bottom: -.75em; 
    left: 0;
    right: 0; 
    transform: scale(0,1);
    transform-origin: left;
    transition: transform ease-in-out 350ms; */
    width: 140%;
    height: 150%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in ;;
}

nav a:hover::after{
    transform: scaleX(1);
    transform-origin: left;  
}

hr{
    margin-top: 6em;
    width: 100%;
    height: 0.01em;
    background-color: black;
    z-index: 100;
}

.v2{
    position: absolute;
    width: 0.01em;
    height: 1000px;
    left: 4em;
    top: 0px;
    background: #172345;
    border: 0.01em solid #172345;
    z-index: 3;
    /* transform: matrix(0, -1, -1, 0, 0, 0); */
}

.backGround{
    /* position: absolute;
    width: 100%;
    height: 569px;
    left: 0px;
    top: 113px;
    margin-top: 15px;
    background: #d6d3d3;
    overflow: hidden;
    width: 100%;
    height: 100%; */
    height:80vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #dff3ff;
    left: 0px;
    /* top: 113px; */
	/* background-image: linear-gradient(rgba(252, 248, 248, 0),rgba(134, 134, 134, 0)),url("images/img1.jpg");
	background-size: cover;
	background-position: center;
	color: #ffffff; */
}


.rectangle{
    position: absolute;
    width: 400px;
    height:400px;
    right: 10px;
    top: 16px;
    background: #fafafa;
    border-radius: 58px;
    transform: rotate(-40deg);
    overflow: hidden;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle img{
    width: 600px;
    height:600px;
    object-fit:cover;
    transform: rotate(40deg);
}


.eclipse{
    /* position: absolute;
width: 256px;
height: 233px;
left: 1037px;
top: 327px;

background: #FFFFFF; */
/* 
display: block;
position: absolute;
      width: 126px;
      height: 180px;
      right: 250px;
      top: 340px;
      background-color: white;*/
      
} 
.box1{
   margin-top: 1em;
    width: 100%;
    height: 81px;
    left: 0px;
    top: 737px;
    background: rgba(217, 119, 98, 0.65);
}

.box{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white
}
.boxhead{
    position: absolute;
    margin-bottom: 1.8em ;
    font-size: xx-large;
    font-style: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.boxbody{
    position: absolute;
    margin-top: 4em ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fade-in{
    opacity: 0;
    transition: opacity 350ms ease-in, 
}

.fade-in.appear{
    opacity : 1;
   
}

.box2{
    margin-top: 2em;
    position: relative;
    width: 80%;
    height: 500px;
    left: 142px;

    background: #F4F4F4;
}

.imgBox2{
    position: absolute;
    width: 578px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #FAFAFA;
}

.imgBox2 img
{
    width: 600px;
    height: 500px;
}

.card{
    position: absolute;
    height: 500px;
    left: 600px;
    width: 650px;
    top: 0px;
    transform-style: preserve-3d;
    transition: all 500ms ease ;
}

.card:hover{
    transition-delay: 300ms;
    transform: rotateY(180deg);
}

.frontcard{
    position: absolute ;
    width: 100%;
    height: 100%;
    top: 0px;
    backface-visibility: hidden;
    background-color: white;
}

.backcard{
    position: absolute ;
    width: 100%;
    height: 100%;
    top: 0px;
    backface-visibility: hidden;
    background-color: #FFDEDE;
    transform: rotateY(180deg);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    margin-top: 10%;
    /* background-color: rgba(130, 173, 238, 0.829); */
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.textBox2{
    position: absolute;
    width: 100%;
    /* height: 500px;
    left: 578px; */
    top: 0px;
    background: #FFFFFF;
   
}


div .textIdea{
    position: absolute;
    width: 300px;
    height: 100px;
    left: -43px;
    top: -60px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 110px;
    color: #000000;
}

div .textAnd{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 150px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 112px;
    color: #000000;
}

div .textEval{
    position: absolute;
    width: 426px;
    height: 110px;
    left: 100px;
    top: 120px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 110px;
    color: #000000;
}

.rectBox2{
    position: absolute;
    width: 398px;
    height: 182px;
    left: 129px;
    top: 174px;
    background: #FFDEDE;
}

.box3{
    position: relative;
    margin-top: 2em;
    width: 80%;
    height: 500px;
    left: 142px;
    background: #F4F4F4;
}

.box3 .card3{
    position: absolute;
    height: 500px;
    width: 650px;
    top: 0px;
    transform-style: preserve-3d;
    transition: all 500ms ease ;
}

.box3 .card3:hover{
    transition-delay: 300ms;
    transform: rotateY(180deg);
}

.box3 .frontcard3{
    position: absolute ;
    width: 100%;
    height: 100%;
    top: 0px;
    backface-visibility: hidden;
    background-color: white;
}

.box3 .backcard3{
    position: absolute ;
    width: 100%;
    height: 100%;
    top: 0px;
    backface-visibility: hidden;
    background-color: white;
    transform: rotateY(180deg);
    background-image: linear-gradient(rgba(180, 219, 245, 0.829), rgba(236, 191, 199, 0.884) );
}

.textBox3{
    position: absolute;
    width: 577px;
    height: 500px;    
    background: #FFFFFF;
}

.rectBox3{
    position: absolute;
    width: 164px;
    height: 280px;
    left: 150px;
    top: 120px;
    background: rgba(136, 206, 174, 0.89);
}
.textPro{
    position: absolute;
    width: 453px;
    height: 144px;
    left: -90px;
    top: 30px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 110px;
    color: #000000;
    text-transform: uppercase;
}
.textDes{
    position: absolute;
    width: 353px;
    height: 110px;
    left: -14px;
    top: 150px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 110px;
    color: #000000;
    text-transform: uppercase;
}

.imgBox3{
    position: absolute;
    width: 650px;
    height: 500px;
    left: 600px;
    top: 0px;
    background: #FAFAFA
}

.imgBox3 img
{
    width: 650px;
    height: 500px;
}


.box4{
    margin-top: 2em;
    position: relative;
    width: 80%;
    height: 500px;
    left: 142px;
    /* top: 900px; */
    background: #F4F4F4;
}


.box4 .card{
    position: absolute;
    height: 500px;
    left: 600px;
    width: 650px;
    top: 0px;
    transform-style: preserve-3d;
    transition: all 500ms ease ;
}

.box4 .card:hover{
    transition-delay: 300ms;
    transform: rotateY(180deg);
}

.box4 .frontcard{
    position: absolute ;
    width: 100%;
    height: 100%;
    top: 0px;
    backface-visibility: hidden;
    background-color: #F2D5C4;
}

.box4 .backcard{
    position: absolute ;
    width: 100%;
    height: 100%;
    top: 0px;
    backface-visibility: hidden;
    background-color: white;
    transform: rotateY(180deg);
}


.textBox4{
    position: absolute;
    width: 100%;
    /* height: 576px;
    left: 569px; */
    top: 0px;
    background: #F2D5C4;
}

.textDev{
    position: absolute;
    width: 100%;
    height: 321px;
    left: 0px;
    top: 24px;
    overflow-wrap: break-word;
    font-family: Athene , serif;
    font-style: normal;
    font-weight: normal;
    font-size: 180px;
    line-height: 161px;

    color: #593E38;
}

.imgBox4{
    position: absolute;
    width: 569px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #FAFAFA;
}

.imgBox4 img
{
    width: 600px;
    height: 500px;
}


.box5{
    position: relative;
    margin-bottom: 3em;
    width: 100%;
    height: 400px;
    left: 0px;
    background: #D3E1E6;
    box-sizing: border-box;
}

.subsBox5{
    position: absolute;
    width: 623px;
    height: 324px;
    left: 100px;
    top: 50px;
    
}

.stay{
    position: absolute;
    width: 430px;
    height: 148px;
    left: 33px;
    top: 30px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
    color: #000000;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subsForm{
    position: absolute;
    width: 561px;
    height: 68px;
    left: 13px;
    top: 203px;
} 

.subsForm button{
    position: absolute;
    width: 95px;
    height: 28px;
    left: 350px;
    top : -0.01em ;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #172345;
    background-color: #D3E1E6 ;
    border: 0px;
}

input{
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:500px;
border:none;
width: 80%;
border-bottom:1px solid #757575;
background-color: #D3E1E6;;
}

input:focus{
    outline:none; 
}

label{
color:#999; 
font-size:18px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;

}
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
.imgBox5{
    position: absolute;
    width: 506px;
    height: 307px;
    left: 848px;
    top: 52px;
}

.box5 .imgBox5 img{
    width: 500px;
    height: 300px;
}

.box6{
    /* position: relative;
    width: 100%;
    height: 411px;
    left: -1px;
    top: 1100px;
    background: #F8F8F8; */
    /* position: relative;
    width: 100%;
    height: 400px;
    left: 0px;
    /* margin-top: 0.2em; */
    background: #D3E1E6;
    /* border: 1px solid #000000; */
    box-sizing: border-box; */
}


 #textImage{
    position: absolute;
    width: 691px;
    height: 348px;
    left: 160px;
    top: 46px;
    background: rgba(197, 208, 217, 0.03);
}
/*
#textImage path:nth-child(1){
   
}

#textImage path:nth-child(2){
    
}

#textImage path:nth-child(3){
    
}

#textImage path:nth-child(4){
    
} */



/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
} */

section {
  width: 100%;
  display: inline-block;
  background: rgb(122, 122, 122);
  height: 70vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: rgb(224, 237, 255);
	box-shadow: 0 1px 1px 0 rgba(117, 116, 116, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #3d3d3d;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #555353;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    color: rgb(71, 68, 68);
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(20, 94, 90);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #626364;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #3b3a3a;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* 

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

} */
